
@{
    ViewBag.Title = "ParalelismoProces";
}

<h2>ParalelismoProces</h2>

<label>Process 1 </label>
@ViewBag.Process1
<label>Process 2</label>
@ViewBag.Process2
<label>Duration Time</label>
@ViewBag.Time

@section scripts{}