@{
    ViewBag.Title = "Utility";
}

<h2>Utility</h2>

    <div class="row">
        <div class="col-xs-4">
            <input type="text" id="kg" placeholder="Kilograms" />
            <input type="button" id="btn" value="Pound?" />
            <div id="result">
                <div id="mgs"></div>
            </div>
        </div>
        <div class="col-xs-4">
           
        </div>
            <div class="col-xs-4">
                <input id="getData" class="pull-right" type="button" value="Data" />
                <div id="contentData"></div>
            </div>
        </div>

@section Scripts
{
    <script>
        $("#btn").click(function () {
            var url = "@Url.Action("Calculo","Home")";
            var weight = $("#kg").val();
            var data = { peso: weight };
            $.post(url, data).done(function (data) {
                if (data.Ok) {
                    $("#result").removeClass("alert-danger").addClass("alert-success").slideDown(2000);
                }
                else {
                    $("#result").removeClass("alert-success").addClass("alert-danger").slideDown(2000);
                }
                $("#mgs").html(data.res);
            }).fail(
                console.log("Error"),
                alert("Done Fail")
            );
        });

        $("#getData").click(function () {
            var url = "@Url.Action("Data")";
            $.get(url).done(function (data) {
                $("#contentData").append(data);
            }).fail(
                alert("Fail")
            );
        });
    </script>
}
