@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <table class="table table-striped">
        <thead>
            Username
        </thead>
        <tbody>
            @item
        </tbody>
    </table>
}