@model PetShopWeb.ViewModels.ControlViewModel

<div>
    <h4>Detalles del User</h4>
    <table class="table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.username</td>
                <td>@Model.email</td>
            </tr>
        </tbody>
    </table>
</div>
